{% extends "base.html" %}

{% block content %}
    <div class="starter-template">
        <h1>{{ object }}</h1>
    </div>

    <div class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Ссылка</h4>
            <a href="{{ object.get_redirect_url }}" class="list-group-item-text"><span class="glyphicon glyphicon-share"></span>{{ object }}</a>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Дата создания</h4>
            <p class="list-group-item-text">{{ object.created_at|date:'d N Y H:i:s' }}</p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Количество просмотров</h4>
            <p class="list-group-item-text">{{ object.views_counter }}</p>
        </div>
        <!-- Вывод скрыт. Так как в условиях задачи, не указанно выводить ли полную ссылку
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Полная ссылка </h4>
            <a href="{{ object.url }}" class="list-group-item-text">{{ object.url }}</a>
        </div>
        -->
    </div>
{% endblock %}